# Reviews Processing System

We use function calling to chat with the database

In [62]:
!pip install datasets -q

## Getting the dataset

In [64]:
from datasets import load_dataset

ds = load_dataset("argilla/tripadvisor-hotel-reviews")

In [65]:
sample_data = ds["train"]["text"][5]

In [66]:
sample_data

"best hotel stayed picked hotel casablanca based recommendations tripadvisor not disappointed, location good staff extremely friendly helpful rooms reasonable size clean equipped peaceful spite bustling location breakfast delicious continental better normally come expect term, best feeling tranquility busy day town return oasis calm enjoy delicious hazelnut coffee buns head room freshen coming later cheese prosecco sound piano music background.ok n't exactly cheap, new york, stayed expensive luxury hotels felt mightily ripped, not time- definitely casablanca,  "

## Building prompt

In [68]:
import requests

API_URL = "http://nexusraven.nexusflow.ai"

headers = {
    "Content-Type": "application/json"
}

def query(payload):
    response = requests.post(API_URL, json=payload, headers=headers)
    return response.json()

def query_raven(prompt):
    payload = {
        "inputs": prompt,
        "parameters": {"do_sample": True, "temperature": 0.001, "max_new_tokens": 400, "stop": ["<bot_end>", "Thought:"], "return_full_text": False}
    }
    return query(payload)[0]["generated_text"].replace("Call:", "").replace("Thought:", "").strip()

## Defining what's important

In [69]:
from typing import List
from dataclasses import dataclass

In [70]:
schema_id = {"hotel_name", "location", "likes", "dislikes", "sentiment"}

In [71]:
dataclass_schema_representation = '''
@dataclass
class Record:
    hotel_name: str # Name of the hotel if provided, else ''
    location: str # Location of the hotel if provided, else ''
    likes: str # What the customers liked about the hotel if provided, else ''
    dislikes: str # What the customers disliked about the hotel if provided, else ''
    sentiment: str # Overall customer sentiment, either 'frustrated' or 'happy'
'''

In [72]:
exec(dataclass_schema_representation)

## Building the database

In [75]:
def initialize_db():
    import sqlite3

    # Connect to SQLite db
    conn = sqlite3.connect("tripadvisor.db")
    c = conn.cursor()

    # Table name
    table_name = "reviews"

    # Schema
    columns = '''
        id INTEGER PRIMARY KEY,
        hotel_name TEXT,
        location TEXT,
        likes TEXT,
        dislikes TEXT,
        sentiment TEXT
    '''

    # Check if the table already exists
    c.execute(f"SELECT * FROM sqlite_master WHERE type='table' AND name='{table_name}'")
    if c.fetchone() is None:
        # Create table
        c.execute(f"CREATE TABLE {table_name} ({columns})")

    # Commit the transaction and close the connection
    conn.commit()
    conn.close()

In [76]:
initialize_db()

## Create a tool to add data in the database

In [77]:
from dataclasses import dataclass, fields

def update_db(results: List[Record]):
    """
    Registers the information
    """
    import sqlite3
    from sqlite3 import ProgrammingError

    # Connect to SQLite db
    conn = sqlite3.connect("tripadvisor.db")
    c = conn.cursor()

    # Table name
    table_name = "reviews"

    # Insert records
    column_names = "hotel_name, location, likes, dislikes, sentiment"
    placeholders = ", ".join(["?"] * 5)

    sql = f"INSERT INTO {table_name} ({column_names}) VALUES ({placeholders})"

    for record in results:
        try:
            values = tuple(getattr(record, field.name) for field in fields(record))
            print(values)
            c.execute(sql, values)
        except ProgrammingError:
            print("Error with record.")
            pass

    # Commit the transaction and close the connection
    conn.commit()
    conn.close()

In [78]:
sample_record = Record(hotel_name="hotel casablanca", location="new york", likes="staff extremely friendly helpful rooms reasonable size clean", dislikes="", sentiment="happy")

In [79]:
update_db([sample_record])

('hotel casablanca', 'new york', 'staff extremely friendly helpful rooms reasonable size clean', '', 'happy')

## Create a tool to extract information from the database

In [80]:
import sqlite3

def execute_sql(sql: str):
    """
    Runs the SQL code for the given schema. Make sure to properly leverage the schema to answer the user's question in the best way possible.
    """
    table_name = "reviews"

    # Connect to SQLite db
    conn = sqlite3.connect("tripadvisor.db")
    c = conn.cursor()

    # Execute the SQL query
    results = c.execute(sql).fetchall()

    # Commit the transaction and close the connection
    conn.commit()
    conn.close()

    return results

In [81]:
sql = '''SELECT * FROM reviews WHERE sentiment = "happy"'''

print("Executing SQL: ", sql)

execute_sql(sql)

Executing SQL:  SELECT * FROM reviews WHERE sentiment = "happy"

[(1,
  'hotel casablanca',
  'new york',
  'staff extremely friendly helpful rooms reasonable size clean',
  '',
  'happy')]

## Building the pipeline

In [82]:
data = ds["train"]["text"][3]
data

'great deal waikiki trip hawaii outrigger luana great hotel/condo, booked city view kitchenette, kitchen amenities ask, nice pool cabanas sun gets, barbeque area feel like getting fresh fish market highly recommended, staff friendly accommodating allowing access garage shower room 8 hours checked, 18/day parking little steep want explore life waikiki great hotel beginning main strip, tour desk not open probably went season desk touch tour desks outriggers waikiki happy make arrangements, beach minute walk away pay upwards 100/night right beach,  '

In [83]:
import inspect

prompt = "\n" + data

signature = inspect.signature(update_db)
signature = str(signature).replace("__main__.Record", "Record")
docstring = update_db.__doc__

raven_prompt = f'''{dataclass_schema_representation}\nFunction:\n{update_db.__name__}{signature}:\n   """{docstring}"""\n\n\nUser Query:{prompt}<human_end>'''
print(raven_prompt)

@dataclass
class Record:
    hotel_name: str # Name of the hotel if provided, else ''
    location: str # Location of the hotel if provided, else ''
    likes: str # What the customers liked about the hotel if provided, else ''
    dislikes: str # What the customers disliked about the hotel if provided, else ''
    sentiment: str # Overall customer sentiment, either 'frustrated' or 'happy'

Function:
update_db(results: List[Record]):
   """
    Registers the information
    """


User Query:
great deal waikiki trip hawaii outrigger luana great hotel/condo, booked city view kitchenette, kitchen amenities ask, nice pool cabanas sun gets, barbeque area feel like getting fresh fish market highly recommended, staff friendly accommodating allowing access garage shower room 8 hours checked, 18/day parking little steep want explore life waikiki great hotel beginning main strip, tour desk not open probably went season desk touch tour desks outriggers waikiki happy make arrangements, beach minute walk away pay upwards 100/night right beach,  <human_end>

In [84]:
raven_call = query_raven(raven_prompt)
print(raven_call)

update_db(results=[])

In [85]:
exec(raven_call)

In [86]:
prompt = "how many reviews are there where customers are happy"

signature = inspect.signature(execute_sql)

docstring = execute_sql.__doc__

sql_schema_representation = \
"""
CREATE TABLE reviews (
    id INTEGER PROMARY KEY,
    hotel_name TEXT,
    location TEXT,
    likes TEXT,
    dislikes TEXT,
    sentiment TEXT
)
"""

raven_prompt = f'''{sql_schema_representation}\nFunction:\n{execute_sql.__name__}{signature}:\n   """{docstring}"""\n\n\nUser Query:{prompt}<human_end>'''

print(raven_prompt)

CREATE TABLE reviews (
    id INTEGER PROMARY KEY,
    hotel_name TEXT,
    location TEXT,
    likes TEXT,
    dislikes TEXT,
    sentiment TEXT
)

Function:
execute_sql(sql: str):
   """
    Runs the SQL code for the given schema. Make sure to properly leverage the schema to answer the user's question in the best way possible.
    """


User Query:how many reviews are there where customers are happy<human_end>

In [87]:
raven_call = query_raven(raven_prompt)
print(raven_call)

execute_sql(sql='SELECT COUNT(*) FROM reviews WHERE sentiment = "happy"')

In [88]:
eval(raven_call)

[(1,)]

## Let's re-initialize and run the workflow

In [98]:
!rm tripadvisor.db
initialize_db()

In [99]:
from tqdm import tqdm

# Taking data points
data = ds["train"]["text"][10:40]

for i in tqdm(range(0, 10)):

    # Ask raven to extract information we want out of the review
    raven_prompt = "\n" + data[i]
    signature = inspect.signature(update_db)
    docstring = update_db.__doc__
    raven_prompt = f'''{dataclass_schema_representation}\nFunction:\n{update_db.__name__}{signature}:\n   """{docstring}"""\n\n\nUser Query:{raven_prompt}<human_end>'''

    raven_call = query_raven(raven_prompt)
    exec(raven_call)

 10%|█         | 1/10 [00:01<00:09,  1.11s/it]

('excellent', 'beginning august', 'good value', 'expensive bar', 'happy')

 20%|██        | 2/10 [00:01<00:07,  1.04it/s]

('', '', '', '', '')

 30%|███       | 3/10 [00:02<00:06,  1.06it/s]

('', '', '', '', '')

 70%|███████   | 7/10 [00:05<00:02,  1.42it/s]

('', '', '', '', '')

 80%|████████  | 8/10 [00:06<00:01,  1.08it/s]

('Florence', 'Rome', 'modern room, comfortable bathroom, good breakfast', 'late check-in, overcrowded lobby', 'happy')

 90%|█████████ | 9/10 [00:08<00:01,  1.04s/it]

('cambridge suites', 'sept 29-oct 3', 'wonderful', 'none', 'happy')

100%|██████████| 10/10 [00:08<00:00,  1.14it/s]

In [100]:
signature = inspect.signature(execute_sql)
docstring = execute_sql.__doc__
sql_schema_representation = \
"""
CREATE TABLE reviews (
    id INTEGER PROMARY KEY,
    hotel_name TEXT,
    location TEXT,
    likes TEXT,
    dislikes TEXT,
    sentiment TEXT
)
"""

raven_prompt = f'''{sql_schema_representation}\nFunction:\n{execute_sql.__name__}{signature}:\n   """{docstring}"""\n\n\nUser Query:{prompt}<human_end>'''
raven_prompt = raven_prompt + "User Query: How many arehappy customers?<human_end>"
print(raven_prompt)

raven_call = query_raven(raven_prompt)
print(raven_call)

eval(raven_call)

CREATE TABLE reviews (
    id INTEGER PROMARY KEY,
    hotel_name TEXT,
    location TEXT,
    likes TEXT,
    dislikes TEXT,
    sentiment TEXT
)

Function:
execute_sql(sql: str):
   """
    Runs the SQL code for the given schema. Make sure to properly leverage the schema to answer the user's question in the best way possible.
    """


User Query:how many reviews are there where customers are happy<human_end>User Query: How many arehappy customers?<human_end>
execute_sql(sql='SELECT COUNT(*) FROM reviews WHERE sentiment = "happy"')

[(3,)]

In [101]:
raven_prompt = f'''{sql_schema_representation}\nFunction:\n{execute_sql.__name__}{signature}:\n   """{docstring}"""\n\n\nUser Query:{prompt}<human_end>'''
raven_prompt = raven_prompt + "User Query: Give me a list of hotel names where customers are happy?<human_end>"
print(raven_prompt)

raven_call = query_raven(raven_prompt)
print(raven_call)

eval(raven_call)

CREATE TABLE reviews (
    id INTEGER PROMARY KEY,
    hotel_name TEXT,
    location TEXT,
    likes TEXT,
    dislikes TEXT,
    sentiment TEXT
)

Function:
execute_sql(sql: str):
   """
    Runs the SQL code for the given schema. Make sure to properly leverage the schema to answer the user's question in the best way possible.
    """


User Query:how many reviews are there where customers are happy<human_end>User Query: Give me a list of hotel names where customers are happy?<human_end>
execute_sql(sql='SELECT hotel_name, sentiment FROM reviews WHERE sentiment = "happy"')

[('excellent', 'happy'), ('Florence', 'happy'), ('cambridge suites', 'happy')]